.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedMusicItem {
  padding: 4px;
  font-size: 11px;
  border-bottom: dashed 1px #888;
  background: #dddddd;
  cursor: pointer;
}
.musicItem {
  padding: 4px;
  font-size: 11px;
  border-bottom: dashed 1px #888;
  cursor: pointer;
}
.musicItem:hover {
  background: #eeeeee;
}
.musicName {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
